*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border:0;
}
.course{
    display: flex;
    align-items: center;
    margin-top: 14px;
    justify-content: space-between;
}

.course label{
    font-size: 20px;
    font-weight: bold;
    color: rgb(37, 35, 112);
    text-shadow: 1px 1px 2px #ffffff;
}

.credit{
    display: flex;
    width:100px;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px 0 10px;
    border:2px solid gold ;
    border-radius: 30px ;
}
.credit button{
    background-color: transparent;
    border: 0;
}
.credit button:hover{
    transform: scale(1.4);
    transition: all 0.2s ease-out;
}

.del-button{
    background-color: transparent;
    border: 0;
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1em;
    padding-top: 2px;
}
.del-button:hover{
    transform: scale3d(1.1,1.1,1);
    transition: all 0.2s ease-out;
}

.dropbox{
    background-color: transparent;
    border : 2px double black;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: medium;
    min-width: 50px;
}
.dropbox:hover{
    transform: scale3d(1.1, 1.1, 1);
    transition: transform 0.3s ease-in-out;
}
select option{
    background-color: rgb(42, 42, 42);
}
@media only screen and (max-width: 600px) {
    .course label{
        font-size: medium ;
    }
    .credit{
        width:90px;
        padding: 1px 5px 0 5px;
    }
    .dropbox{
        padding: 1px 2px;
        min-width: 20px;
    }
}