.bg{
    background-image: url('../../Images/blue-dragon.png');
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1536/1024;
    width: 500px;
    border-radius: 20px;
    position: relative;
    margin:auto;
    text-align: center;
}
.bg2{
    display: none;
}
.link{
    position: absolute;
    top:40%;
    left:32%;
    display: block;
    width:40%;
    height: 25%;
    border: 2px solid gold;
    border-radius: 100px;
}
.link:hover{
    background-color: rgba(40, 234, 237, 0.304);
    transition: all 0.2s ease-in-out;
    border:3px solid gold;
    box-shadow: 0px 0px 20px black;
}
.heading{
    margin-top: 10vh ;
}
.h2{
    margin-bottom: 10px;
}
.box1 {
    display: flex;
    width : fit-content;
    margin: auto;
    gap:15px;
    justify-content: space-around;
}
.bg1{
    display: block;
    width:fit-content;
    padding: 5px 10px;
    border: 1px white solid;
    border-radius: 1em;
    margin: auto;
}
.link1{
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .bg{
        display: none;
        width:90vw;
    }
    .bg2{
        display: block;
        width:fit-content;
        padding: 5px 10px;
        border: 1px white solid;
        border-radius: 1em;
        margin: auto;
    }
}