*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.boxContainer{
    margin : 20px auto;
    background-image: linear-gradient(to right,#004aad,#5ce1e6);
    max-width : 700px;
    border-radius: 30px;
    box-shadow: 3px 3px 20px black;
    padding: 20px 0px 20px 30px;
    align-items: center;
  }

  .Container{
    align-items: center;
    margin-top: 7vh;
  }

  .add-button{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    color: gold;
    font-size: 15px;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}
.add-button:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.submit-button{
    background-color: transparent;
    border: 2px solid ;
    border-color: gold goldenrod goldenrod gold;
    background-image: linear-gradient(to right,#004aad,#5ce1e6);
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}
.submit-button:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.s1{
    background-color: rgba(44, 179, 53, 0.379);
    border-radius: 0.7em;
    padding:0px 3px;
}
.creds{
    font-size: 20px;
    font-style: italic ;
    margin:5px 0px;
}
.headings{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    text-decoration: underline whitesmoke;
    text-underline-offset: 5px;
}
.invisible{
    opacity: 0;
}
.calCPI{
    padding:5px;
    background-color: transparent;
    border-radius: 1em;
    border:2px solid gold;
    cursor: pointer;
    color:white;
}
.calCPI:hover{
    border: 2px double white;
    color:gold;
}
@media only screen and (max-width: 600px) {
    .Container{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .submit-button{
        padding: 2px 7px;
        font-size:medium;
    }
    .add-button{
        font-size: small;
        padding:3px 6px;
    }
    .headings{
        justify-content:center;
        gap:12%;
    }
    .invisible{
        display: none;
    }
}
