.branch{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border:#fcefef 1px solid;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  width: 20vw;
  max-width: 150px;
  background-image: linear-gradient(to right,rgb(88,88,88),rgb(20,20,20));
}
.branch:hover{
    color: #5c9fe6;
    box-shadow: 0 0 2px 2px #5c9fe6;
    cursor: pointer;
}
.branches{
    margin: auto;
    list-style-type: none ;
    max-width: 60vw;
    flex-wrap: wrap;
    gap:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.sem{
  color-scheme: dark;
  padding:5px 10px;
  border-radius: 15px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  border:2px solid #fcefef;
}
.sem-p{
  color: rgb(37, 35, 112);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #fcefef;
  font-family: 'Sedan SC', sans-serif;
  margin:3px 0px;
}